/* *_*_*_*_*_* DEBUT CSS STEVEN *_*_*_*_*_* */

@font-face
{
    font-family: 'weekend';
    src: url('../fonts/weekend.ttf') format('ttf');
    src: url('../fonts/weekend.woff') format('woff');
    src: url('../fonts/weekend.woff2') format('woff2');

    font-family: 'hacked';
    src: url('../fonts/hacked.ttf') format('ttf');
    src: url('../fonts/hacked.woff') format('woff');
    src: url('../fonts/hacked.woff2') format('woff2');

    font-family: 'bebas';
    src: url('../fonts/Bebas.otf') format('otf');
    src: url('../fonts/Bebas.woff') format('woff');
    src: url('../fonts/Bebas.woff2') format('woff2');
}

.fondsite
{
    min-height: 100vh;
    margin:0;
    padding:0;
    background: url(../images/background4.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.nav-transparent {

    background: rgba(255, 255, 255, 0);
    border: none;
    text-align: center;
    font-family: "bebas";
    text-shadow: 2px 2px 4px black;
}

.nav-a>li
{
    position: relative;
    padding: 70px 15px;
    font-size: 40px;
    color: white;
}

.navbar-default .navbar-nav>li>a
{
    text-decoration : none;
    color: white;
}

.navbar-nav
{
    display: inline-block;
    float: none;
    margin: 0;
}

.accueil
{
    margin-top: 150px;
}

@media (max-width: 768px)

{
    .imglogo
    {
        margin-top: 8vh;
    }

    .nav-a>li
    {
        position: relative;
        padding: 5px 0px;
        font-size: 30px;
        color: white;
    }

    .navbar-collapse
    {
        border: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px)

{
    .nav-a>li
    {
        position: relative;
        padding: 20px 0px;
        font-size: 35px;
        color: white;
    }



} /* FIN DU MEDIA */

/* *_*_*_*_*_* FIN CSS STEVEN *_*_*_*_*_* */


/* *_*_*_*_*_* DEBUT CSS PIERRE *_*_*_*_*_* */
    #pierre
    {
        height: auto;
    }

    #pierre img
    {
        width: 150px;
        height: 150px;
        padding: 10px;
    }

    .thub
    {
        text-align: center;
        max-width: 400px;
        border-radius: 6px;
        line-height: 40px;
    }


    .thub p
    {
        min-height: 160px;
        padding:10px;
        border: 1px solid orange;
        background-color: #DF7401;
    }

/* *_*_*_*_*_* FIN CSS PIERRE *_*_*_*_*_* */



/* ----- CSS PAUL POUR SECTION PIERRE ----- */

.backgroundgames {
    min-height: 100vh;
    margin:0;
    padding:0;
    background: url(../images/background3.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}


.marginnavb {
    margin-top: 100px;
}

.imgarcade{
    width: 300px;
}

.thumbnailgame {
    background-color: rgba(255,255,255,0.8);
}

.thumbnailgame p,h3
{
    color: black;
}
/* ----- CSS PAUL ----- */

.backgroundsnack {
	min-height: 100vh;
    margin:0;
    padding:0;
	background: url(../images/background3.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.thumb{
    height: 50px;
}

.panel .panel-heading, .panel-default {
    background-color: rgba(255,255,255,0.5);
}

.nav-transparent-b {

    background: rgba(0, 0, 0, 0.6);
    border: none;
    text-align: center;
    font-family: "bebas";
    text-shadow: 2px 2px 4px black;
}

.nav-b>li
{
    position: relative;
    padding: 10px 15px;
    font-size: 40px;
    color: white;
}

.navsticky {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: -95px;
}


@media (max-width: 768px)

{
    .thumbnail-u {
        margin-top: 40px;
    }

    .marginnavb {
        margin-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 992px)

{
    .nav-b>li
    {
        font-size:28px;
    }
}

.scrollable-section {
    border-bottom:1px solid #666;
}
/* ----- FIN CSS PAUL ----- */
 /* FIN DU MEDIA */
