/* *_*_*_*_*_* DEBUT CSS STEVEN *_*_*_*_*_* */
@font-face
{
    font-family: 'weekend';
    src: url('../fonts/weekend.ttf') format('ttf');
    src: url('../fonts/weekend.woff') format('woff');
    src: url('../fonts/weekend.woff2') format('woff2');

    font-family: 'hacked';
    src: url('../fonts/hacked.ttf') format('ttf');
    src: url('../fonts/hacked.woff') format('woff');
    src: url('../fonts/hacked.woff2') format('woff2');

    font-family: 'bebas';
    src: url('../fonts/Bebas.otf') format('otf');
    src: url('../fonts/Bebas.woff') format('woff');
    src: url('../fonts/Bebas.woff2') format('woff2');
}

.fondsite
{
    min-height: 100vh;
    margin:0;
    padding:0;
    background: url(../images/background4.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}


.nav-transparent {
    background: rgba(255, 255, 255, 0);
    border: none;
    text-align: center;
    font-family: "bebas";
    text-shadow: 2px 2px 4px black;
    

}

.nav>li
{
    position: relative;
    padding: 70px 15px;
    font-size: 40px;
    color: white;
}

.navbar-default .navbar-nav>li>a
{
    text-decoration : none;
    color: white;
}

.navbar-nav
{
    display: inline-block;
    float: none;
    margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    border-color: transparent; 
}

.accueil
{
     margin-top: 150px;
}

@media (max-width: 768px) { 

    .imglogo
        {
            margin-top: 8vh;  
        }
    
    .nav>li
        {
        position: relative;
        padding: 5px 0px;
        font-size: 30px;
        color: white;
        }

    } /* FIN DU MEDIA */

/* *_*_*_*_*_* FIN CSS STEVEN *_*_*_*_*_* */
